html,
body {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

.main_page {
  flex: 1 0 auto;
}

footer {
  height: auto;
  flex: 0 0 auto;
  background-color: black;
  color: white;
  padding-bottom: 10px;
}

footer:after{
  content: '';
  display: block;
  clear: both;
}

.footer__nav-group {
  position: relative;
  float: left;
  margin: 0px 10px;
  height: 300px;
  width: 250px;
}

.footer__nav-group h3 {
  font-size: 12pt;
  text-align: center;
}

.footer__nav-list {
  font-size: 10.5pt;
}

.footer__logo {
  float: right;
  opacity: 0.3;
}

footer p {
  clear: both;
  text-align: center;
}
